@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;
    color: #2B3D4B;
}

body {
    background-color: #2B3D4B;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

header {
    
    text-align: center;
    justify-content: space-around;
    padding: 0%;
}

.header-content {
    padding: 0%;
}

.logo {  
    margin: 0%;
    max-width: 300px;
}

.info {
    margin: 0%;
    display: flexbox;
    overflow-y: auto;
    min-width: fit-content;
    justify-content: space-around;
    padding: 0%;
    transition: ease-in;
    transition-delay: 200ms;
    background-color: rgba(64, 163, 167, .5);
}

/*----blocks & modals-----*/

.welcome {
    position: relative;
    text-align: center;
    justify-content: space-around;
}

.welcome-it {
    display: none;
}

.welcome-fr {
    display: none;
}


.modal-frame {
    justify-content: space-around;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: auto;
    background-color: rgba(233, 137, 126, .2);
}

.modal-panel {
    text-align: center;
    background-color: rgba(64, 163, 167, .2);
    margin: 20% auto;
    padding: 15%;
    width: 80%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);

}

.lang-choices {
    text-align: center;
    justify-content: space-around;
    
}

.close-btn.close-btn-game-over {
    color: rgb(43, 61, 75);
    float: right;
    font-size: 30px;
}


.close-btn:hover, .close-btn:focus {
    color: rgba(43, 61, 75, .7);
    text-decoration: none;
    cursor: pointer;

}

#game-at-school, #game-animals {
    text-align: center;
    justify-content: space-around;
}


/*----Game sections-----*/
/*.language-game-general {
    width: 350px; 
    height: 250px; 
    margin: auto;
    display: flex;
    position:sticky;
    justify-content:space-evenly;
    flex-wrap: wrap; 
    perspective: 1000px;
}*/
.language-game {
    text-align: center;
    justify-content: space-around;
}

.language-game-en {
    display: none;
    width: 365px; 
    height: 240px; 
    margin: 0%;
    display: flex;
    position:relative;
    justify-content: center;
    flex-wrap: wrap; 
    perspective: 1000px;
    align-content: center;
}
.language-game-it {
    display: none;
    width: 365px; 
    height: 240px; 
    margin: 0%;
    display: flex;
    position:relative;
    justify-content:center;
    flex-wrap: wrap; 
    perspective: 1000px;
    align-content: center;
}
.language-game-fr {
    display: none;
    width: 365px; 
    height: 240px; 
    margin: 0%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap; 
    perspective: 1000px;
    align-content: center;
}

/*----Game-cards-----*/
.game-card {
    width: calc(30% - 5px);
    height: calc(45% - 5px); 
    margin: 5px;
    position: relative;  
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform .5s;
    /*-moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;*/
    transition: transform .5s;
}


.game-card:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: transform .3s;
    /*-moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;*/
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 12%;
    position: absolute;
    border-radius: 0px;
    background: #40A3A7;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-front-it,
.card-back-it {
    width: 100%;
    height: 100%;
    padding: 12%;
    position: absolute;
    border-radius: 0px;
    background: #40A3A7;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front-fr,
.card-back-fr {
    width: 100%;
    height: 100%;
    padding: 12%;
    position: absolute;
    border-radius: 0px;
    background: #40A3A7;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.game-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}

.card-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}

.card-front-it {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}

.card-front-fr {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}

.game-card.matched {
    width: 100px;
    height: 100px;
    background-color: #0CB1C4;
    
    -webkit-transition-delay: 500ms;
    /*-moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;*/
    transition-delay: 500ms;
    -webkit-transition-property: animation-name;
    /*-moz-transition-property: animation-name;
    -ms-transition-property: animation-name;
    -o-transition-property: animation-name;*/
    transition-property: animation-name;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-iteration-count: 2; 
    animation-iteration-count: 2;

} 
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg);
        
    }
    to {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
        
    }
}

/*----choices-----*/

.choose-language {
    display: sticky;
    justify-content: center;
    padding: 25px;
    margin-left: 50px;
    margin-left: 50px;
}

.choose-subject {
    justify-content: center;
    text-align: center;
}

.choose-subject-card {
    padding: 5%;
    position: relative;
    border-radius: 0px;
    background: #40A3A7;
}

/*----buttons----*/

.btn.action-button {

    justify-content: center;
    padding: 12px;
    min-width: 100px;
    background-color: #40A3A7;
    border: none;
    border-radius: 15px;
}

.btn.action-button:hover {
    background-color: rgba(64, 163, 167, .5);
}

#lang-button-fr img {
    width: 75px;
    height: 75px;
    display: inline;
    border-radius: 50%;
    padding: 15px; 
}

#lang-button-fr img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


#lang-button-it img {
    width: 75px;
    height: 75px;
    display: inline;
    border-radius: 50%;
    padding: 15px;
}

#lang-button-it img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    
}

#lang-button-en img {
    width: 75px;
    height: 75px;
    display: inline;
    border-radius: 50%;
    padding: 15px;
}

#lang-button-en img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    
}




/*----footer---

footer {
    background-color: #2B3D4B;
    min-width:350px;
    color: #40A3A7;
    justify-content:space-evenly;
}--*/

.about.contact {
    color: #40A3A7;

}

/*----avatars-----*/

.avatar-1 {

    position: relative;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    width: 60px;
    height: 60px;
    margin: 10%;
    border: solid #40A3A7 3px;
    float: left;

}

.avatar-2 {

    position: relative;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    width: 60px;
    height: 60px;
    margin: 10%;
    border: solid #40A3A7 3px;
    float: left;

}



